h1{
	color:blue;
	text-align: center;
}
body{
	background-color: white
}
.menu{
	font-size: 40px;
	column-count: 4;
	column-fill: auto;
	display: inline-block;
}
.intro{
    border: 10px ridge #f00;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
